{% extends 'base.html.twig' %}

{% block navbar %}
    {# {{ user.id }} #}
{% endblock %}

{% block content %}
    {% for item in items %}
        <div class="h-[9%]">
            {{ item.id }}
            {{ item.name }}
        </div>
    {% endfor %}
    <div>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 0}) }}>1</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 1}) }}>2</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 2}) }}>3</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 3}) }}>4</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 4}) }}>5</a>
        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href={{ path('item-view', {'pageNumber': 5}) }}>6</a>
    </div>
{% endblock %}
