{% extends 'base.html.twig' %}

{% block content %}
    
    {% for item in pagination %}
        <div class="h-[9%]">
            {{ item.id }}
            {{ item.name }}
            {{ item.description }}
            {{ item.publicationDate|date("m/d/Y") }}
        </div>
    {% endfor %}
        
    <div class="pagination" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
